[submodule "OrionEngine/engine/external/GLFW"]
	path = OrionEngine/engine/external/GLFW
	url = https://github.com/glfw/glfw
[submodule "OrionEngine/engine/external/spdlog"]
	path = OrionEngine/engine/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "OrionEngine/engine/external/ImGUI"]
	path = OrionEngine/engine/external/ImGUI
	url = https://github.com/idealkellymiller/imgui
	branch = docking
