[submodule "OrionEngine/engine/external/GLFW"]
	path = OrionEngine/engine/external/GLFW
	url = https://github.com/glfw/glfw
[submodule "OrionEngine/engine/external/spdlog"]
	path = OrionEngine/engine/external/spdlog
	url = https://github.com/gabime/spdlog
